<!DOCTYPE html>
<html>
 <head>
   <% include ../partials/head %>
 </head>
 <body>
   <header>
     <% include ../partials/header %>
   </header>
   <div class="container">
     <div class="starter-template">
       <h1><%= title %></h1>
       <% if (events.length === 0) { %>
         No events found.
       <%} else {%>
         <table class="table">
           <thead>
             <tr>
               <th>#</th>
               <th>Sport</th>
               <th>Skill level</th>
               <th>Date</th>
               <th>Time</th>
               <th>Location</th>
             </tr>
           </thead>
           <tbody>
             <% events.forEach(function(event, index) { %>
               <tr class="clickable-row" data-href="/events/<%= event.id %>/show">
                 <th scope="row"><%= index + 1 %></th>
                 <% var sportIndex = sports.findIndex(function(element) { return element.id === event.SportId}) %>
                 <td><%= sports[sportIndex].name %></td>
                 <td><%= event.skill %></td>
                 <td><%= new Date(event.eventDate).toDateString() %></td>
                 <td><%= event.eventTime %></td>
                 <td><%= event.location %></td>
               </tr>
             <% }) %>
           </tbody>
         </table>
         <% }%>
       </div>
     </div>
   <footer>
       <% include ../partials/footer %>
   </footer>
 </body>
</html>
