<!DOCTYPE html>
<html>
 <head>
   <% include ../partials/head %>
 </head>
 <body>
   <!-- Always shows a header, even in smaller screens. -->
   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
     <% include ../partials/header %>
     <main class="mdl-layout__content">
       <div class="page-content">
         <div class="mdl-grid" style="margin: -10px;">
           <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
             <h2><%= title %></h2>
             <% if (events.length === 0) { %>
               No events found.
             <%} else {%>
               <table class="table" id="event_table">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="searchInput" placeholder="Refine your search">
                </div>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Sport</th>
                    <th>Skill level</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody id="fbody">
                  <% events.forEach(function(event, index) { %>
                    <tr data-href="/events/<%= event.id %>/show" id="other">
                      <td><%= index + 1 %></td>
                      <% var sportIndex = sports.findIndex(function(element) { return element.id === event.SportId}) %>
                      <td><%= sports[sportIndex].name %></td>
                      <td><%= event.skill %></td>
                      <td><a href="/events/<%= event.id %>/show" id="link"><%= new Date(event.eventDate).toDateString() %></a></td>
                      <td><%= event.eventTime %></td>
                      <td><%= event.location %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
               <% }%>
           </div>
         </div>
       </div>
     </main>
     <footer class="mdl-mini-footer">
         <% include ../partials/footer %>
     </footer>
   </div>
 </body>
</html>
