<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="container">
      <div class="starter-template">
        <h1><%= title %></h1>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Location</th>
              <td><%= event.location %></td>
            </tr>
            <tr>
              <th scope="row">Sport</th>
              <td><%= event.sport %></td>
            </tr>
            <tr>
              <th scope="row">Skill level</th>
              <td>
                <% for (var i = 0; i < event.skill; i++) {%>
                  <span class="glyphicon glyphicon-star"></span>
                <% } %>
                <% for (var i = 0; i < (5 - event.skill); i++) {%>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <%}%>
              </td>
            </tr>
            <tr>
              <th scope="row">Date</th>
              <td><%= new Date(event.eventDate).toDateString() %></td>
            </tr>
            <tr>
              <th scope="row">Time</th>
              <td><%= event.eventTime %></td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td><%= event.description %></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
