<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="container">
      <div class="starter-template">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">
            <h1><%= title %></h1>
          </div>
          <div class="col-xs-6 col-md-4">
            <% if (currentUser && currentUser.id != event.UserId && !request) { %>
              <div class="join_button">
                <form action="/events/<%= event.id %>/requests/new">
                  <button type="submit" class="btn btn-default">Join</button>
                </form>
              </div>
            <% } %>
            <% if (currentUser && currentUser.id != event.UserId  && request) { %>
              <div class="already_joined">
                Request has been sent.
              </div>
            <% } %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Location</th>
                  <td><%= event.location %></td>
                </tr>
                <tr>
                  <th scope="row">Sport</th>
                  <td><%= sport.name %></td>
                </tr>
                <tr>
                  <th scope="row">Skill level</th>
                  <td>
                    <% for (var i = 0; i < event.skill; i++) {%>
                      <span class="glyphicon glyphicon-star"></span>
                    <% } %>
                    <% for (var i = 0; i < (5 - event.skill); i++) {%>
                      <span class="glyphicon glyphicon-star-empty"></span>
                    <%}%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Date</th>
                  <td><%= new Date(event.eventDate).toDateString() %></td>
                </tr>
                <tr>
                  <th scope="row">Time</th>
                  <td><%= event.eventTime %></td>
                </tr>
                <tr>
                  <th scope="row">Description</th>
                  <td><%= event.description %></td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
