<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>

  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../../partials/header %>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
              <div>
                <h2><%= title1 %></h2>
                  <% if (receivedRequests.length === 0) { %>
                    <div class="no_received_request">
                      No received requests found.
                    </div>
                  <%} else {%>
                    <div id="received_requests">
                      <table class="table main-table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Sport</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% receivedRequests.forEach(function(request, index) { %>
                            <% var openStatus = statuses.find(function(e) { return e.name === "Open"})%>
                            <% var eventIndex = events.findIndex(function(element) { return element.id === request.EventId})%>
                            <% var event = events[eventIndex]%>
                            <tr id="requestBasic_<%= request.id %>">
                              <td><%= index + 1 %></td>
                              <% var sportIndex = sports.findIndex(function(element) { return element.id === event.SportId}) %>
                              <td><%= sports[sportIndex].name %></td>
                              <td><%= new Date(event.eventDate).toDateString() %></td>
                            </tr>
                            <tr id="requestRow_<%= request.id %>" class='hidden'>
                              <td colspan="3" >
                                <table class="table sub-table" >
                                  <tbody id="requestDetails_<%= request.id %>">
                                    <tr>
                                      <td>Location: </td>
                                      <td><a href="/events/<%= event.id %>/show" id="link"><%= event.location %></td>
                                    </tr>
                                    <tr>
                                      <td>Time: </td>
                                      <td><%= event.eventDate.getHours() + ":" + event.eventDate.getMinutes() %></td>
                                    </tr>
                                    <tr>
                                      <td>Comment: </td>
                                      <td><%= request.comment %></td>
                                    </tr>
                                    <tr>
                                      <td>Requestor: </td>
                                      <% var userIndex = users.findIndex(function(element) { return element.id === request.UserId}) %>
                                      <td><%= users[userIndex].name %></td>
                                    </tr>
                                    <tr>
                                      <td>Status: </td>
                                      <td colspan="2">
                                        <% if (request.StatusId === openStatus.id) { %>
                                        <form id="acceptRejectButton" action="/sessions/<%= currentUser.id %>/requests/<%= request.id %>/complete" method="post">
                                          <input type="hidden" name="action" value="Accepted">
                                          <input type="hidden" name="request_id" value=<%= request.id %> >
                                          <button name="Accepted" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" >Confirm</button>
                                        </form>
                                        <form id="acceptRejectButton" action="/sessions/<%= currentUser.id %>/requests/<%= request.id %>/complete" method="post">
                                          <input type="hidden" name="action" value="Rejected">
                                          <input type="hidden" name="request_id" value=<%= request.id %> >
                                          <button name="Rejected" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">&nbspReject&nbsp</button>
                                        </form>
                                        <% } else { %>
                                          <% var statusIndex = statuses.findIndex(function(e) { return e.id === request.StatusId}) %>
                                          <%= statuses[statusIndex].name %>
                                        <% } %>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  <% }%>
              </div>

              <div>
                <h2><%= title2 %></h2>
                <% if (myRequests.length === 0) { %>
                  <div class="no_sent_request">
                    No sent requests found.
                  </div>
                <%} else {%>
                  <div id="sent_requests">
                    <table class="table main-table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Sport</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% myRequests.forEach(function(request, index) { %>
                          <% var eventIndex = events.findIndex(function(element) { return element.id === request.EventId})%>
                          <% var event = events[eventIndex]%>
                          <tr id="requestBasic_<%= request.id %>">
                            <td><%= index + 1 %></td>
                            <% var sportIndex = sports.findIndex(function(element) { return element.id === event.SportId}) %>
                            <td><%= sports[sportIndex].name %></td>
                            <td><%= new Date(event.eventDate).toDateString() %></td>
                          </tr>

                          <tr id="requestRow_<%= request.id %>" class='hidden'>
                            <td colspan="3">
                              <table class="table sub-table ">
                                <tbody id="requestDetails_<%= request.id %>">
                                  <tr>
                                    <td>Location: </td>
                                    <td><a href="/events/<%= event.id %>/show" id="link"><%= event.location %></a></td>
                                  </tr>
                                  <tr>
                                    <td>Time: </td>
                                    <td><%= event.eventDate.getHours() + ":" + event.eventDate.getMinutes() %></td>
                                  </tr>
                                  <tr>
                                    <td>Comment: </td>
                                    <td><%= request.comment %></td>
                                  </tr>
                                  <tr>
                                    <td>Status: </td>
                                    <% var statusIndex = statuses.findIndex(function(element) { return element.id === request.StatusId}) %>
                                    <td><%= statuses[statusIndex].name %></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <% }%>
              </div>

            </div>
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
          <% include ../../partials/footer %>
      </footer>
    </div>
  </body>
</html>
