<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>

    <script>
    $(document).on('click','#requestBasic',function(){
          if ($('#requestDetails').is('.hidden')) {
            $('#requestDetails').removeClass('hidden');
            $('#requestDetails').addClass('show');
          }
          else
          {
            $('#requestDetails').removeClass('show');
            $('#requestDetails').addClass('hidden');
          }
        });
    </script>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../../partials/header %>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
              <div>
                <h2><%= title1 %></h2>
                  <% if (receivedRequests.length === 0) { %>
                    <div class="no_received_request">
                      No received requests found.
                    </div>
                  <%} else {%>
                    <div class="table-responsive" id="received_requests">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Sport</th>
                            <th>Date</th>
                          </tr>

                          <!-- <tr id="requestDetails" class="clickable-row">
                            <th>Comment</th>
                            <th>Requestor</th>
                            <th>Action/Status</th>
                          </tr> -->
                        </thead>
                        <tbody>
                          <% receivedRequests.forEach(function(request, index) { %>
                            <% var openStatus = statuses.find(function(e) { return e.name === "Open"})%>
                            <% var eventIndex = events.findIndex(function(element) { return element.id === request.EventId})%>
                            <% var event = events[eventIndex]%>
                            <tr id="requestBasic">
                              <td><%= index + 1 %></td>
                              <% var sportIndex = sports.findIndex(function(element) { return element.id === event.SportId}) %>
                              <td><%= sports[sportIndex].name %></td>
                              <td><%= new Date(event.eventDate).toDateString() %></a></td>
                            </tr>
                        </tbody>
                      </table>

                      <table class="table" id="requestDetailTable">
                        <tbody id="requestDetails" class='hidden'>
                          <tr>
                            <td>Location: </td>
                            <td><a href="/events/<%= event.id %>/show" id="link"><%= event.location %></td>
                          </tr>
                          <tr>
                            <td>Comment: </td>
                            <td><%= request.comment %></td>
                          </tr>
                          <tr>
                            <td>Requestor: </td>
                            <% var userIndex = users.findIndex(function(element) { return element.id === request.UserId}) %>
                            <td><%= users[userIndex].name %></td>
                          </tr>

                          <tr>
                            <td>
                              <% if (request.StatusId === openStatus.id) { %>
                              <form id="acceptRejectButton" action="/sessions/<%= currentUser.id %>/requests/<%= request.id %>/complete" method="post">
                                <input type="hidden" name="action" value="Accepted">
                                <input type="hidden" name="request_id" value=<%= request.id %> >
                                <button name="Accepted" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" >Confirm</button>
                              </form>
                              <form id="acceptRejectButton" action="/sessions/<%= currentUser.id %>/requests/<%= request.id %>/complete" method="post">
                                <input type="hidden" name="action" value="Rejected">
                                <input type="hidden" name="request_id" value=<%= request.id %> >
                                <button name="Rejected" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">&nbspReject&nbsp</button>
                              </form>
                              <% } else { %>
                                <% var statusIndex = statuses.findIndex(function(e) { return e.id === request.StatusId}) %>
                                <%= statuses[statusIndex].name %>
                              <% } %>
                            </td>
                          </tr>
                        <% }) %>


                        </tbody>
                      </table>
                    </div>
                  <% }%>
              </div>
              <div>
                <h2><%= title2 %></h2>
                <% if (myRequests.length === 0) { %>
                  <div class="no_sent_request">
                    No sent requests found.
                  </div>
                <%} else {%>
                  <div class="table-responsive" id="sent_requests">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Sport</th>
                          <th>Skill level</th>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Location</th>
                          <th>Comment</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% myRequests.forEach(function(request, index) { %>
                          <% var eventIndex = events.findIndex(function(element) { return element.id === request.EventId})%>
                          <% var event = events[eventIndex]%>
                          <tr class="clickable-row" data-href="/events/<%= event.id %>/show" id="other">
                            <td><%= index + 1 %></td>
                            <% var sportIndex = sports.findIndex(function(element) { return element.id === event.SportId}) %>
                            <td><%= sports[sportIndex].name %></td>
                            <td><%= event.skill %></td>
                            <td><a href="/events/<%= event.id %>/show" id="link"><%= new Date(event.eventDate).toDateString() %></a></td>
                            <td><%= event.eventTime %></td>
                            <td><%= event.location %></td>
                            <td><%= request.comment %></td>
                            <% var statusIndex = statuses.findIndex(function(element) { return element.id === request.StatusId}) %>
                            <td><%= statuses[statusIndex].name %></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <% }%>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
          <% include ../../partials/footer %>
      </footer>
    </div>
  </body>
</html>
