<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <header>
      <% include ../../partials/header %>
    </header>
    <div class="container">
      <div class="row">
        <h1><%= title1 %></h1>
          <% if (receivedRequests.length === 0) { %>
            No requests found.
          <%} else {%>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Sport</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Comment</th>
                    <th>Requestor</th>
                    <th>Action/Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% receivedRequests.forEach(function(request, index) { %>
                    <% var eventIndex = events.findIndex(function(element) { return element.id === request.EventId})%>
                    <% var event = events[eventIndex]%>
                    <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <% var sportIndex = sports.findIndex(function(element) { return element.id === event.SportId}) %>
                      <td><%= sports[sportIndex].name %></td>
                      <td><a href="/events/<%= event.id %>/show" id="link"><%= new Date(event.eventDate).toDateString() %></a></td>
                      <td><%= event.location %></td>
                      <td><%= request.comment %></td>
                      <% var userIndex = users.findIndex(function(element) { return element.id === request.UserId}) %>
                      <td><%= users[userIndex].name %></td>
                      <td>
                        <form action="/sessions/<%= currentUser.id %>/requests/<%= request.id %>/complete" method="post">
                          <input type="hidden" name="action" value="Accepted">
                          <input type="hidden" name="request_id" value=<%= request.id %> >
                          <button name="Accepted" class="btn btn-default btn-sm" type="submit" >Confirm</button>
                        </form>
                        <form action="/sessions/<%= currentUser.id %>/requests/<%= request.id %>/complete" method="post">
                          <input type="hidden" name="action" value="Rejected">
                          <input type="hidden" name="request_id" value=<%= request.id %> >
                          <button name="Rejected" class="btn btn-default btn-sm" type="submit">Reject</button>
                        </form>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% }%>
        <h1><%= title2 %></h1>
        <% if (myRequests.length === 0) { %>
          No requests found.
        <%} else {%>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Sport</th>
                  <th>Skill level</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Location</th>
                  <th>Comment</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% myRequests.forEach(function(request, index) { %>
                  <% var eventIndex = events.findIndex(function(element) { return element.id === request.EventId})%>
                  <% var event = events[eventIndex]%>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <% var sportIndex = sports.findIndex(function(element) { return element.id === event.SportId}) %>
                    <td><%= sports[sportIndex].name %></td>
                    <td><%= event.skill %></td>
                    <td><a href="/events/<%= event.id %>/show" id="link"><%= new Date(event.eventDate).toDateString() %></a></td>
                    <td><%= event.eventTime %></td>
                    <td><%= event.location %></td>
                    <td><%= request.comment %></td>
                    <% var statusIndex = statuses.findIndex(function(element) { return element.id === request.StatusId}) %>
                    <td><%= statuses[statusIndex].name %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <% }%>
      </div>
    </div>
    <footer>
        <% include ../../partials/footer %>
    </footer>
  </body>
</html>
